@font-face {
    font-family: "Druk-Wide-Cy-Web";
    src: url("./fonts/Druk-Wide-Cy-Web-Medium-Regular.ttf");
    
}
@font-face {
    
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-SemiBold.ttf");
}
p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    
}
body {
  font-family: "Druk-Wide-Cy-Web";  

}

.container {
  max-width:  390px;
 margin-left: auto;
 margin-right: auto;
    
}
.info {
    
        display: flex;
    text-align: center;
    flex-direction: column;
    
}
.hero{

    padding-right: 47px;
    padding-left: 50px;
    
    background-image: url(./img/zyro-image\ \(1\).png);
    background-size: cover;
    height: 886px;
        background-repeat: no-repeat;
}

    
    @media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
        .hero {
            background-image: url(./img/zyro-image\ \(1\).png);
            
        }
    }

.txt-sport {
font-weight: 500;
font-size: 57px;
line-height: 77.46px;

color: white;
}
.txt{
font-weight: 600;
font-size: 12px;
line-height: 18px;
font-family: "Montserrat";
color: white;
width: 156px;
height: 54px;
margin-right: 18px;
}
.txt-p{
    font-weight: 500;
font-size: 57px;
line-height: 68.34px;

color: white;
}
.info-txt{
    display: flex;
    text-align: start;
    justify-content: center;
    align-items: flex-end;
}
.train{
    display: flex;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 600px;
    font-weight: 500;
font-size: 14px;
line-height: 19.03px;
color: white;
border-bottom:2px solid white;
/* height: 19px; */
width: 290px; 
gap: 6px;
padding-bottom: 2px;
cursor: pointer;
}
.icon-arrow{
    fill: white;
}






/* =======================================================start======================== */
.start {
    background-image: url(./img/Kate1.jpg);
    background-size: cover;
    height: 1228px;
        background-repeat: no-repeat;
        
}

    
    @media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
        .start{
            background-image: url(./img/Kate1.jpg);
            
        }
    }

.h-start {
    font-weight: 500;
    font-size: 57px;
    line-height: 77.46px;
    text-align: center;
    color: white;
    margin-bottom: 11px;
}
.start-txt{
  font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    font-family: "Montserrat";
    margin-bottom: 72px;
    color: white;
    width: 265px;
    height: 78px;
    margin-left: auto;
    margin-right: auto;
    
}
.couch{
        gap: 42px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 47px;
}
.start-list {
    border:3px solid white ;
    padding: 44px 40px;
    border-radius: 23px;
}
.h-couch {
    font-weight: 500;
    font-size: 14px;
    line-height: 19.03px;
    color: white;
    margin-bottom: 26.61px;
}
.p-couch{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    font-family: "Montserrat";
    color: white;
}

/* ============================================Iam========================== */
.Iam{
    background-image: url(./img/zyro-image\ \(2\).png);
    background-size: cover;
    height: 853px;
        background-repeat: no-repeat;
}

    
    @media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
        .Iam{
            background-image: url(./img/zyro-image\ \(2\).png);
            
        }
    }

.I-am{
    font-weight: 500;
    font-size: 57px;
    line-height: 77.46px;
    color: white;
    text-align: end;
    padding-right: 46px;
    margin-bottom: 38px;
}
.Who{
    font-weight: 500;
    font-size: 57px;
    line-height: 77.46px;
    color: white;
    margin-bottom: 15px;
    
    padding-left: 50px;
}
.fitness{
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: white;
    padding-left: 50px;
    font-family: "Montserrat";
    height: 135px;
    width: 294px;
}
.fitness-p {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: white;
    padding-left: 50px;
    font-family: "Montserrat";
    
}
.fit-p{
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: white;
    padding-left: 50px;
    font-family: "Montserrat";
    position: relative;
    top:250px;
    height: 100px;
    width: 284px;
}
/* ================================================================================= */
.training{
    background-image: url(./img/фон\ \(7\).jpg);
    background-size: cover;
    height: 1108px;
        background-repeat: no-repeat;
        padding-left: 49px;
}

    
    @media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
        .training{
            background-image: url(./img/фон\ \(7\).jpg);
            
        }
    }

.train-h{
    padding-top: 33px;
    font-weight: 500;
    font-size: 45px;
    line-height: 61.15px;
    color:white;
    /* padding-left: 40px; */
}
.train-p {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color:white;
    text-align: end;
    padding-right: 31px;
font-family: "Montserrat";
margin-bottom: 67px;
}
.train-video {
    gap: 42px;
    display: flex;
    flex-direction: column;
    /* padding-left: 50px; */
    padding-right: 47px;
    margin-bottom: 76px;
}
.video {
    border: 1px solid white;
    border-radius: 4px;
}

.p-video{
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.03px;
    letter-spacing: 0.1em;
    color: white;
}
.li-vid{
    display: none;
}
.li-vid:nth-child(1){
    display: block;
}
.li-vid:nth-child(2){
    display: block;
}
.li-vid:nth-child(3){
    display: block;
}

.btn-train{
  font-weight: 500;
    font-size: 14px;
    line-height: 19.03px;
    letter-spacing: 0.1em;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid white; 
    text-align: center;
    padding-bottom: 4px;
    
}
/* ==========================================lesson==================== */
.lesson{
    background-image: url(./img/фон\ \(8\).jpg);
    background-size: cover;
    height: 714px;
        background-repeat: no-repeat;
        padding-left: 49px;
        padding-top: 35px;
        
}

    
    @media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
        .lesson{
            background-image: url(./img/фон\ \(8\).jpg);
            
        }
    }

.h-massage {
   font-weight: 500;
   font-size: 45px;
   line-height: 61.15px;
   
   color: white;
}
.p-massage{
margin-top: 44px;
  font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color:white;
    margin-bottom: 44px;
    
font-family: "Montserrat";
}
.h-lesson {
    font-weight: 500;
   font-size: 45px;
   line-height: 45.4px;
   margin-top: 44px;
   letter-spacing: 0.01em;
   color: white;
}

/* ============================================================revievs================================ */
.revievs{
      background-image: url(./img/фон\ \(9\).jpg);
    background-size: cover;
    height: 1516px;
        background-repeat: no-repeat;
        padding-left: 49px;
        padding-top: 44px;
}

    
    @media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
        .revievs{
            background-image: url(./img/фон\ \(9\).jpg);
            
        }
    }

.h-rev{
    font-weight: 500;
   font-size: 45px;
   line-height: 61.15px;
   
   letter-spacing: 0.01em;
   color: white;
   margin-bottom: 44px;
}
.li-rev:nth-child(1){
    padding: 107.32px 6.35px 41.66px 5.65px ;
    border-radius: 23px;
    width: 293px;
    
    background-color: white;
}
.li-rev:nth-child(2){
    padding: 107.32px 6.35px 41.66px 5.65px ;
    border-radius: 23px;
    width: 293px;
    
    background-color: white;
}
.li-rev:nth-child(3){
    padding: 107.32px 6.35px 41.66px 5.65px ;
    border-radius: 23px;
    width: 293px;
    
    background-color: white;
}
.ul-rev{
    flex-direction: column;
    gap: 44px;
    display: flex;
}
/* =======================================contacts========================== */
.contacts{
      background-image: url(./img/zyro-image\ \(3\).png);
    background-size: cover;
    height: 852px;
        background-repeat: no-repeat;
        padding-left: 49px;
        padding-right: 47px;
        padding-top: 12px;
}

    
    @media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
        .contacts{
            background-image: url(./img/zyro-image\ \(3\).png);
            
        }
    }

.h-contacts{
    font-weight: 500;
   font-size: 57px;
   line-height: 77.46px;
   
   color: white;
}
.h-contacts:nth-child(2){
text-align: right;
}
.svg-inst{
    fill: white;
    margin-right: 4px;
}
.cont-a{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: white;
    font-family: "Montserrat";
    align-items: center;
    display: flex;

}
.cont-a:nth-child(2){
    width: 256px;
}
.contacts-d {
    display: flex;
    flex-direction: column;
    padding: 39px 7px 35px 13px;
    gap: 16px;
    border: 3px solid white;
    border-radius: 23px;
    margin-top: 66px;
}
.p-contacts{
     font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: white;
    font-family: "Montserrat";
}
/* =================================================burger=========================== */
.burger{
    display: flex;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    margin-left: auto;
    

}
.open {
    display: flex !important;
}
.burger span {
    height: 2px;
    width: 80px;
    transform: scale(1);
    background-color: white;
}
.burger::before, .burger::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease 0s;
}
.burger::before{
    top: 0;

}
.burger::after {
    bottom: 0;
}
.burger.active span {
    transform: scale(0);
}
.burger.active::before{
    top:50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after{
    top:50%;
    transform: rotate(45deg) translate(0, 50%);
}
/* +++++++++++++++++++++++++= */
@media screen and (max-width:1731px) {
   .burger {
    display: flex;
   } 
   .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 400px;
    width: 200px;
    border-radius: 10px;
    z-index: 50;
    overflow-y: auto;
    padding: 60px 70px;
    
    background-image: url(./img/фон\ \(8\).jpg);
    animation: burgerAnimations 0.5s;

   }
   .nav ul{
    flex-direction: column;
    row-gap: 30px;
    display: flex;
   }
   .info-main{
    display: none;
   }
   .btn-train-desk{
    display: none;
   }
   .h-son{
    display: none;
   }
   .video-m{
   border: 1px solid white;
    border-radius: 4px; 
}
.ul-rev-main{
    display: none;
}
}
@keyframes burgerAnimations {
    from{
        opacity: 0}
        to {
            opacity: 1;
        }
}
.burg{
    padding-top: 30px;
}
.link-navl{
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: white;
    font-family: "Montserrat";
}
.link-navi{
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: white;
    font-family: "Montserrat";
}
.link-navn{
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: white;
    font-family: "Montserrat";
}
.link-navk{
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: white;
    font-family: "Montserrat";
}
.link-navN{
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: white;
    font-family: "Montserrat";
}
.link-nava{
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: white;
    font-family: "Montserrat";
}
@media screen and (min-width:1731px) {
.container {
  max-width: 1731px;
  
}
  .hero {
    background-image: url(./img/main1.png);
    height: 1161px;
    padding-left: 179px;
    padding-top: 100px;
    /* width: 1731px; */
}

@media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
   .hero {
    background-image: url(./img/main1.png);
    
}
}
.burg{
    display: none;
}
.info{
    display: none;
}
.nav-list{
    display: flex;
    gap: 50px;
}
.txt-main{
    font-weight: 600;
    font-size: 19px;
    line-height: 28.5px;
    width: 415px;
    height: 116px;
    color: white;
    font-family: "Montserrat";
    position: relative;
    top: 380px;
}
.txt{
   font-weight: 600;
    font-size: 19px;
    line-height: 28.5px;
    width: 243px;
    height: 87px;
    color: white;
    font-family: "Montserrat";
    position: relative;
    margin-left: auto;
    top: 480px;  
}
.train{
    position: relative;
    margin-right: auto;
    margin-left: 0;
    top:520px;
    font-size: 16px;
    line-height: 21.74px;
    width: 307px;
    height: 22px;
    display: inline;
}
/* ============================================== */
.start{
    background-image: url(./img/фон16.jpg);
height: 1011px;

padding-top: 306px;
/* background-size: contain; */


}
@media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
   .start {
    background-image: url(./img/фон16.jpg);
    
}
}
.start-info{
    display: flex;
    padding-left: 177px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 149px;
}
.h-start{
    font-size: 148px;
    line-height: 201.13px;
    margin: 0;
}
.start-txt{
    margin: 0;
    padding-right: 165px;
    font-size: 19px;
    line-height: 28.5px;
    height: 117p;
    width: 425px;
}
.couch{
   flex-direction: row; 
   padding-left: 177px;
   padding-right: 76px;
   gap: 65px;
}
.start-list{
    padding: 51px 55px 75px;
}
.h-couch{
    font-size: 16px;
    line-height: 21.74px;
    margin-bottom: 37px;
}
.p-couch{
    font-size: 19px;
    line-height: 28.5px;
}
/* =================================== */
.Iam{
    background-image: url(./img/фон17.jpg);
height: 1200px;
padding-left: 177px;
padding-right: 175px;
padding-top: 72px;



}
@media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
   .Iam {
    background-image: url(./img/фон17.jpg);
    
}}
.h-am{
    display: flex;
    justify-content: space-between;
}
.Who{
    font-size: 148px;
    line-height: 201.13px;
}
.I-am{
    font-size: 148px;
    line-height: 201.13px;
}
.fitness{
    position: relative;
    top: 90px;
    left: 500px;
    font-size: 19px;
    line-height: 28.5px;
    padding-left: 0;
    width: 367.71px;
}
.fitness-p{
     position: relative;
    top: 200px;
    left: 500px;
    font-size: 19px;
    line-height: 28.5px;
    padding-left: 0;
    width: 367.71px;
}
.fit-p{
    font-size: 19px;
    line-height: 28.5px;
    position: relative;
    top: 200px;
    left: 1050px;
    padding-left: 0;
    width: 342px;
    height: 170px;
}
/* ========================================= */
.training{
    background-image: url(./img/фон\ \(18\).jpg);

}
@media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
   .training {
    background-image: url(./img/фон\ \(18\).jpg);
    
}}
.train-h{
    padding-top: 118px;
    font-size: 148px;
    line-height: 201.13px;
}
.train-p{
    font-size: 19px;
    line-height: 28.5px;
    text-align: start;
    padding-right: 0;
    margin-left: 850px;
    margin-bottom: 85px;
}
.training{
    padding-left: 177px;
    height: 1516px;
}
.train-video{
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 65px;
   column-gap: 118px;
   margin-bottom: 95px;
}
.video{
   width: 415px; 
   height: 238.88px;
   
}
.btn-train{
    display: none;
}
.btn-train-desk{
    font-weight: 500;
    font-size: 16px;
    line-height: 21.74px;
    letter-spacing: 0.1em;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid white;
    text-align: center;
    padding-bottom: 4px;
    align-items: center;
    display: flex;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
}
.icon-arrow{
    width: 20px;
    height: 20px;
}
.li-vid:nth-child(1){
    display: block;
}
.li-vid:nth-child(2){
    display: block;
}
.li-vid:nth-child(3){
    display: block;
}
.li-vid:nth-child(4){
    display: block;
}
.li-vid:nth-child(5){
    display: block;
}
.li-vid:nth-child(6){
    display: block;
}
.p-video{
    font-size: 16px;
    line-height: 21.74px;
    width: 361px;
}
/* =========================================== */
.lesson{
    background-image: url(./img/фон18.jpg);
height: 1135px;
padding-left: 177px;
padding-right: 175px;
padding-top: 78px;



}
@media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
   .lesson {
    background-image: url(./img/фон18.jpg);
    
}}
.lesson-h{
    display: flex;
}
.h-massage{
    font-size: 148px;
    line-height: 201.13xp;
}
.p-massage{
    font-size: 19px;
    line-height: 28.5px;
    width: 521px;
    margin-top: 363px;
}
.video-m{
    width: 824px;
    height: 501px;
    margin-left: auto;
    margin-top: 352px;
    border-bottom: 2px solid white;
    
    border-radius: 4px;
}
.lesson-v{
    display: flex;
}
.h-lesson{
    display: none;
}
.h-less{
    font-weight: 500;
    font-size: 148px;
    line-height: 149.33px;
    color: white;
}
.h-son{
    position: relative;
    bottom: 290px;
}
/* ================================================================ */
.revievs{
    background-image: url(./img/фон20.jpg);
height: 1135px;

padding-top: 104px;
padding-left: 169px;



}
@media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
   .revievs {
    background-image: url(./img/фон20.jpg);
    
}
}
.h-rev{
    font-size: 148px;
    line-height: 201.13px;
    margin-bottom: 111px;
}
.ul-rev{
    display: none;
}
.ul-rev-main{
    display: flex;
    gap: 65px;
}
.li-rev:nth-child(1){
padding: 152px 9px 59px 8px;
width: 415px;

}
.li-rev:nth-child(2){
    padding: 70px 76px 71px 13px;
width: 415px;
}
.li-rev:nth-child(3){
    padding: 267px 7px 71px 7px;
width: 415px;
}
/* ========================================= */
.contacts{
    background-image: url(./img/фон\ контакти.jpg);
height: 1000px;


padding-top: 145px;
padding-left: 129px;



}
@media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
   .contacts {
    background-image: url(./img/фон\ контакти.jpg);
    
}
}
.h-contacts{
    font-size: 148px;
    line-height: 201.13px;
}
.h-contacts:nth-child(2){
    text-align: left;
}
.cont-a{
    font-size: 19px;
    line-height: 28.5px;
    gap: 5px;

}
.cont-a:nth-child(1){
    width: 260px;
}
.cont-a:nth-child(2){
    width: 400px;
}
.svg-inst{
    width: 40px;
    height: 40px;
}
.p-contacts{
    font-size: 19px;
    line-height: 28.5px;
    height: 87px;
    width: 478px;
}
.contacts-d{
    width: 655px;
    padding-left: 65px;
    padding-top: 60px;
    padding-bottom: 60px;
}
}
/* ============================================= */

.h-start{
    opacity: 0;
     transform: translatex(-150px);
}
.start-txt{
    opacity: 0;
     transform: translatex(150px);
}
.h-start.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.start-txt.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.start-list{
    opacity: 0;
    transform: translateY(20px);
}
.start-list.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateY(0%);
}
.start-list.element-show:nth-child(1) {
  transition-delay: 0.5s;
}
.start-list.element-show:nth-child(2) {
  transition-delay: 0.75s;
}
.start-list.element-show:nth-child(3) {
  transition-delay: 1s;
}
.Who{
     opacity: 0;
     transform: translatex(-150px);
}
.I-am{
    opacity: 0;
     transform: translatex(150px);
}
.Who.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.I-am.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.fitness{
     opacity: 0;
     transform: translatex(300px);
}
.fitness.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.fitness-p{
     opacity: 0;
     transform: translatex(300px);
}
.fitness-p.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.fit-p{
     opacity: 0;
     transform: translatex(300px);
}
.fit-p.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.train-h{
     opacity: 0;
     transform: translatex(-300px);
}
.train-h.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.train-p{
     opacity: 0;
     transform: translatex(-300px);
}
.train-p.element-show {
  opacity: 1;
  transition: all 2.5s;
  transform: translateX(0%);
}
.li-vid{
     opacity: 0;
     transform: translateY(20px);
}
.li-vid.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.li-vid.element-show:nth-child(1) {
  transition-delay: 0.5s;
}
.li-vid.element-show:nth-child(2) {
  transition-delay: 0.75s;
}
.li-vid.element-show:nth-child(3) {
  transition-delay: 1s;
}
.li-vid.element-show:nth-child(4) {
  transition-delay: 1.25s;
}
.li-vid.element-show:nth-child(5) {
  transition-delay: 1.5s;
}
.li-vid.element-show:nth-child(6) {
  transition-delay: 1.75s;
}
.li-vid.element-show:nth-child(7) {
  transition-delay: 2s;
}
.li-vid.element-show:nth-child(8) {
  transition-delay: 2.2s;
}
.li-vid.element-show:nth-child(9) {
  transition-delay: 2.5s;
}
.li-vid.element-show:nth-child(9) {
  transition-delay: 2.75s;
}
.lesson-h{
     opacity: 0;
     transform: translatex(-150px);
}
.lesson-h.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.p-massage{
     opacity: 0;
     transform: translatex(-150px);
}
.p-massage.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.h-lesson{
     opacity: 0;
     transform: translatex(-150px);
}
.h-lesson.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.h-son{
     opacity: 0;
     transform: translatex(-150px);
}
.h-son.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.video-m{
     opacity: 0;
    transform: translateY(20px);
}
.video-m.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateY(0%);
}
.h-rev{
     opacity: 0;
     transform: translatex(-150px);
}
.h-rev.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.li-rev{
     opacity: 0;
    transform: translateY(20px);
}
.li-rev.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateY(0%);
}
.li-rev.element-show:nth-child(1) {
  transition-delay: 0.5s;
}
.li-rev.element-show:nth-child(2) {
  transition-delay: 0.75s;
}
.li-rev.element-show:nth-child(3) {
  transition-delay: 1s;
}
.contacts-div{
     opacity: 0;
     transform: translatex(-150px);
}
.contacts-div.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.contacts-d{
     opacity: 0;
    transform: translateY(20px);
}
.contacts-d.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateY(0%);
}
.nav-list{
     opacity: 0;
    transform: translateY(20px);
}
.nav-list.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateY(0%);
}
.txt-main{
     opacity: 0;
     transform: translatex(-150px);
}
.txt-main.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.txt{
     opacity: 0;
     transform: translatex(150px);
}
.txt.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.train{
     opacity: 0;
     transform: translatex(-150px);
     transition: transform .25s cubic-bezier(.4, 0, .2, 1)
}
.train.element-show {
  opacity: 1;
  transition: all 2s;
  transform: translateX(0%);
}
.train:hover{
transform: scaleX(1.1);
color: blue;
}


